@import '../../static/scss/colors';

.blog-nav {
	margin: 20px 0px 10px;
}
.blog-nav ul {
	list-style: none;
	padding-left: 0;
}
.blog-nav ul li {
	margin: 10px 0 10px;
}
.blog-nav ul li a {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 26px;
	border-bottom: 0;
	font-weight: 400;
	color: $coal;
}
.blog-nav ul li a.current {
	/*border-bottom: 1px solid;*/
	color: $deep-cerulean;
}
.blog-nav ul li a.current:before {
/*    content:'• ';
	color: $tan-hide;*/
    font-size: 25px;
    vertical-align: bottom;
}
/*.blog-nav ul li a.current:after {
    content:' •';
	color: #f7a046;
    font-size: 25px;
    vertical-align: bottom;
}*/
.blog-nav ul li a:hover {
    color: $bondi-blue;
    cursor: pointer;
}
